.container {
  display: flex;
  gap: 0.25rem;
}

.tools {
  border: 1px solid #e5e5e5;
  width: 5rem;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 200ms ease;
  color: #023047;
}

.tools:hover {
  color: #023047;
  background-color: #8ecae6;
}

.tools.select {
  border: 0.0625rem solid #8ecae6;
  color: #023047;
  background-color: #8ecae6;
}
